.popup__title {
  margin: 0 0 47px;
  font-weight: 900;
  font-size: 24px;
  line-height: 29px;
}

@media screen and (max-width:420px) {
  .popup__title {
    font-size: 18px;
    line-height: 21px;
  }
}
