.page-form__btn {
  width: 100%;
  padding: 14px 0;
  border: none;
  border-radius: 2px;
  font-family: "Inter", Arial, Helvetica, sans-serif;
  font-weight: 400;
  font-size: 18px;
  line-height: 22px;
  color: #000;
}
