.gallery__like {
  position: relative;
  display: block;
  z-index: 5;
  cursor: pointer;
  opacity: 1;
  width: 22px;
  height: 19px;
  outline: none;
  border: none;
  background-color: transparent;
  background-image: url('../../../image/like.svg');
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  transition: all .3s ease-in-out;
}

.gallery__like:hover {
  opacity: .5;
}