@import url('./vendor/normalize.css');
@import url('./vendor/fonts/fonts.css');
@import url('./blocks/content/content.css');
/* header */
@import url('./blocks/header/header.css');
@import url('./blocks/logo/logo.css');
/* profile */
@import url('./blocks/profile/profile.css');
@import url('./blocks/profile/__wrapper-avatar/profile__wrapper-avatar.css');
@import url('./blocks/profile/__img-avatar/profile__img-avatar.css');
@import url('./blocks/profile/__edit-avatar/profile__edit-avatar.css');
@import url('./blocks/profile/__info/profile__info.css');
@import url('./blocks/profile/__wrapper/profile__wrapper.css');
@import url('./blocks/profile/__name/profile__name.css');
@import url('./blocks/profile/__profession/profile__profession.css');
@import url('./blocks/profile/__edit-btn/profile__edit-btn.css');
@import url('./blocks/profile/__add-btn/profile__add-btn.css');
/* gallery */
@import url('./blocks/gallery/gallery.css');
@import url('./blocks/gallery/__cards/gallery__cards.css');
@import url('./blocks/gallery/__card/gallery__card.css');
@import url('./blocks/gallery/__img/gallery__img.css');
@import url('./blocks/gallery/__info/gallery__info.css');
@import url('./blocks/gallery/__title/gallery__title.css');
@import url('./blocks/gallery/__wrapper/gallery__wrapper.css');
@import url('./blocks/gallery/__like/gallery__like.css');
@import url('./blocks/gallery/__like/_condition/gallery__like_condition_active.css');
@import url('./blocks/gallery/__quantity-like/gallery__quantity-like.css');
@import url('./blocks/gallery/__btn-remove/gallery__btn-remove.css');
/* popup */
@import url('./blocks/popup/popup.css');
@import url('./blocks/popup/__container/popup__container.css');
@import url('./blocks/popup/__container/_popup/popup__container_popup_image.css');
@import url('./blocks/popup/__container/_popup/popup__container_popup_delete.css');
@import url('./blocks/popup/__btn-close/popup__btn-close.css');
@import url('./blocks/popup/_active/popup_active.css');
@import url('./blocks/popup/__title/popup__title.css');
@import url('./blocks/popup/__title/_popup/popup__title_popup_delete.css');
/* form */
@import url('./blocks/form/form.css');
@import url('./blocks/form/__fieldset/form__fieldset.css');
@import url('./blocks/form/__input/form__input.css');
@import url('./blocks/form/__input/_type/form__input_type_error.css');
@import url('./blocks/form/__input-error/form__input-error.css');
@import url('./blocks/form/__btn/form__btn.css');
@import url('./blocks/form/__btn/_popup/form__btn_popup_delete.css');
@import url('./blocks/form/__btn/_inactive/form__btn_inactive.css');
/* figure */
@import url('./blocks/figure/figure.css');
@import url('./blocks/figure/__img/figure__img.css');
@import url('./blocks/figure/__subtitle/figure__subtitle.css');
/* footer */
@import url('./blocks/footer/footer.css');
@import url('./blocks/footer/__text/footer__text.css');
