.header {
  padding: 45px 0 37px;
  border-bottom: 1px solid rgba(84, 84, 84, .7);
}

@media screen and (max-width:768px) {

  .header {
    position: relative;
    top: 0px;
    left: -15px;
    right: 0;
    width: calc(100% - 20px);
    padding: 28px 27px 30px;
  }

}
